<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title:'Login'}) %>

<body>
    
    <%- include('partials/message.ejs') %>
    
    <form action="/login" method="POST">
        <p>Username:<input type="text" name="username"></p>
        <p>Password:<input type="password" name="password"></p>
        <button type="submit" class="loginButton">Login!</button>
    </form>
    <%- include('partials/loggedUser.ejs') %>
    <%- include('partials/tomainpage.ejs') %>
</body>
</html>